### Create BERT sentence embeddings for further use

In [1]:
import pandas as pd 
import numpy as np

use_dev_set = True

train = pd.read_csv('data/v1_7/train_set_v1_7.txt', sep='\t', header=None)

if use_dev_set:
    test = pd.read_csv('data/v1_7/dev_set_v1_7.txt', sep='\t', header=None)
    test_list = list(test[1])
else:
    test = pd.read_csv('data/', sep='\t', header=None)
    test_list = list(test[0])

    
train_list = list(train[1])

for i in range(len(train_list)):
    if type(train_list[i]) is float:
        train_list[i] = "none"

for i in range(len(test_list)):
    if type(test_list[i]) is float:
        test_list[i] = "none"

In [2]:
train.shape

(292748, 2)

In [3]:
test.shape

(36184, 2)

In [4]:
train.iloc[3544][1]

'Uh oh! I got my hair cut today too... I asked for a no "comb over" look.'

In [5]:
train.head(5)

      0                                                  1
0  9629                                   Rihanna feasts -
1  5884  #2009faillist the New Jersey Nets, they should...
2  9853  Major did you get Jake to unblock me? I have s...
3  9030    #college loans kicking in for unemployed grads:
4  6643        Another day at the OB office. Happy Monday!

In [6]:
test.head(5)

      0                                                  1
0  3049               this weekend was a fluke. or was it?
1  1510  Sun, 12/6: Skeletons Big Band, Capillary Actio...
2   569  Loretta Lynn 45 rpm "She's Got You"; a great c...
3  3405  Had lunch with Doug, David, Linda, and Claire....
4   557                          TY Wednesday 1-of-a-Kind:

In [2]:
# bert-serving-start -model_dir /share/BERT_pretrained/cased_L-24_H-1024_A-16/ -max_batch_size=384 -cased_tokenization -max_seq_len=150 -gpu_memory_fraction=0.9 -num_worker=1

from bert_serving.client import BertClient
bc = BertClient()
# bc.encode(['First do it', 'then do it right', 'then do it better'])

In [3]:
train_encode = bc.encode(train_list)

In [4]:
test_encode = bc.encode(test_list)

In [11]:
test_encode.shape

(36184, 768)

In [12]:
train_encode.shape

(292748, 768)

### Save sentence embeddings to file
path: data/BERT_encodings   
save to npy file, to read the file, use np.load("FILE_PATH")

In [5]:
np.save("./data/BERT_encoding/train_bert_no_fine_tune", train_encode)

if use_dev_set:
    np.save("./data/BERT_encoding/dev_bert_no_fine_tune", test_encode)
else:
    np.save("./data/BERT_encoding/new_test_encode_2nditer", test_encode)

In [ ]:
test_encode