### Create BERT sentence embeddings for further use

In [9]:
import pandas as pd 
import numpy as np

use_dev_set = True

train = pd.read_csv('data/train_set_v1.txt', sep='\t', header=None)

if use_dev_set:
    test = pd.read_csv('data/dev_set_v1.txt', sep='\t', header=None)
    test_list = list(test[1])
else:
    test = pd.read_csv('data/test_tweets_unlabeled_new.txt', sep='\t', header=None)
    test_list = list(test[0])

    
train_list = list(train[1])

for i in range(len(train_list)):
    if type(train_list[i]) is float:
        train_list[i] = "none"

In [10]:
train.shape

(291862, 2)

In [11]:
test.shape

(36124, 2)

In [12]:
train.iloc[3544][1]

'Heading home tonight.. the anticipation of home-centric stuff:'

In [13]:
train.head(5)

      0                                                  1
0  5592  Do you enjoy the games you are playing in life...
1  8940  Most fun part of owning team. Charging court a...
2  5149  WSJ: Fannie, Freddie Woes Hurt Apartments #rea...
3  4562  45% of execs, managers spend 3+ hours a day us...
4  8061                                   loves audiobooks

In [14]:
test.head(5)

      0                                                  1
0  8363  Or, one of these? This @handle shot top 10 wor...
1  8687             Blog Post: Chris Brown Speaking to MTV
2  2228  No Vegas for me either. Although it will proba...
3  3088  Salvation Army Expecting to Help More During H...
4  1013  Bummed about the Charger loss, SD? Come down t...

In [17]:
# bert-serving-start -model_dir /share/BERT_pretrained/cased_L-24_H-1024_A-16/ -max_batch_size=384 -cased_tokenization -max_seq_len=150 -gpu_memory_fraction=0.9 -num_worker=1

from bert_serving.client import BertClient
bc = BertClient()
# bc.encode(['First do it', 'then do it right', 'then do it better'])

In [18]:
train_encode = bc.encode(train_list)

In [19]:
test_encode = bc.encode(test_list)

In [ ]:
test_encode.shape

In [ ]:
train_encode

### Save sentence embeddings to file
path: data/BERT_encodings   
save to npy file, to read the file, use np.load("FILE_PATH")

In [20]:
# np.save("./data/BERT_encoding/train_encode", train_encode)

if use_dev_set:
    np.save("./data/BERT_encoding/dev_encode", test_encode)
else:
    np.save("./data/BERT_encoding/test_encode", test_encode)

In [ ]:
lengthtrain.iloc[:][1]