### Create BERT sentence embeddings for further use

In [1]:
import pandas as pd 
import numpy as np

use_dev_set = True

train = pd.read_csv('data/train_set_v1_4.txt', sep='\t', header=None)

if use_dev_set:
    test = pd.read_csv('data/dev_set_v1_4.txt', sep='\t', header=None)
    test_list = list(test[1])
else:
    test = pd.read_csv('data/test_tweets_unlabeled_dataframe_v1_4.txt', sep='\t', header=None)
    test_list = list(test[0])

    
train_list = list(train[1])

for i in range(len(train_list)):
    if type(train_list[i]) is float:
        train_list[i] = "none"

for i in range(len(test_list)):
    if type(test_list[i]) is float:
        test_list[i] = "none"

In [2]:
train.shape

(257226, 2)

In [3]:
test.shape

(32827, 2)

In [4]:
train.iloc[3544][1]

'hopefully soon. (re: Connecting at #txfm09)'

In [5]:
train.head(5)

      0                                                  1
0  7834  Technology Review counted 967,000 monthly uniq...
1  3666  Netscape's code was in such bad shape bc of jw...
2   379  thanks for alerting me. I guess I like being i...
3  4994  Prevention is sexy. It looks good. It feels go...
4  3630  council to get financial update from August fr...

In [6]:
test.head(5)

      0                                                  1
0   774  me too!! I went to sleep at 12:30 and was wide...
1  2129  lmao whats given to nothing atall beside a hou...
2   262  bed, goodnight tweeter world! <3 cya tomorrow,...
3  6910           Guess who fits into a size 13 jeans now!
4  1091  Look another Brittney showed up makes me miss ...

In [7]:
# bert-serving-start -model_dir /share/BERT_pretrained/cased_L-24_H-1024_A-16/ -max_batch_size=384 -cased_tokenization -max_seq_len=150 -gpu_memory_fraction=0.9 -num_worker=1

from bert_serving.client import BertClient
bc = BertClient()
# bc.encode(['First do it', 'then do it right', 'then do it better'])

In [8]:
train_encode = bc.encode(train_list)

In [9]:
test_encode = bc.encode(test_list)

In [10]:
test_encode.shape

(32827, 768)

In [11]:
train_encode

array([[ 0.36801082, -0.20410907, -0.75166273, ...,  0.12373435,
        -0.6609348 ,  0.6144171 ],
       [-0.02898635,  0.25758898, -0.67760336, ...,  0.8075008 ,
         0.24650171,  0.01623557],
       [ 0.02078831,  0.3311842 , -0.3961721 , ...,  0.16357166,
        -0.06616009,  0.21068504],
       ...,
       [-0.28847003, -0.03020469, -0.92304546, ...,  0.35518   ,
        -0.022833  ,  0.74080044],
       [ 0.0951407 ,  0.41858208, -0.73990643, ...,  0.39774477,
        -0.3599281 ,  0.1166632 ],
       [-0.11449274,  0.18208271, -0.06862237, ...,  0.5837979 ,
        -0.29327014,  0.37188235]], dtype=float32)

### Save sentence embeddings to file
path: data/BERT_encodings   
save to npy file, to read the file, use np.load("FILE_PATH")

In [12]:
np.save("./data/BERT_encoding/new_train_encode_2nditer", train_encode)

if use_dev_set:
    np.save("./data/BERT_encoding/new_dev_encode_2nditer", test_encode)
else:
    np.save("./data/BERT_encoding/new_test_encode_2nditer", test_encode)

In [ ]:
test_encode